.addNewUser{
    position: absolute;
    padding: 2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343a40bf;
    z-index: 999;
    
}

.addNewUser .newUser-Wrapper {
    width: 400px;
    background-color: #23272b;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.addNewUser .newUser-Wrapper .clsbtn{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    text-align: center;
    margin-bottom: 2rem;
}

